PORT=5001
MONGODB_URI=mongodb://root:rootpassword@localhost:27017/anime_tournament?authSource=admin
NODE_ENV=development
JWT_SECRET=your_secret_key_here
CLIENT_URL=http://localhost:5173
VIDEO_CACHE_DIR=./tmp/video-cache
